$primary : #FFACA4;
$secondary : #FF9796;
$tertiary : #FFFFF2;

$ltGray : #F1F0EE;
$drkGray : #CCCCCC;

* { margin: 0; padding: 0; list-style: none; }

body { font: 1em "EB Garamond", Helvetica, Arial, sans-serif; position: relative; letter-spacing: .2em; }

a { text-decoration: none; color: initial; }

h1 { font: 4em "Dancing Script", cursive; letter-spacing: 0; font-weight: normal; padding: 0 0 15px; }
h2 { letter-spacing: .2em; font-weight: normal; }

p { letter-spacing: .1em; }

nav { background: $tertiary; text-align: center; width: 100%; position: absolute; bottom: 0;  z-index: 1; height: 45px;
  ul {  padding: 5px; font-size: 1.2em;
    li { display: inline-block; padding: 0 50px; }
    i { color: $primary; padding-right: 5px; }
    a { color: $secondary; }
  }
}

main {
  & > section { text-align: center; overflow: visible; clear: both; padding: 40px 0; box-sizing: border-box; position: relative; }

  .intro { height: 100vh; position: relative; background: $primary; color: $tertiary; background-image: url(../images/bg.png); background-size: 50%; background-position: center; background-repeat: no-repeat;
    h1 { font: 7em "Dancing Script", cursive, sans-sarif; padding-top: 15%; }
  }

  .info { color: $secondary; }

  #details { background: $primary; color: $tertiary;

    & > section { display: inline-block; width: 31%; margin: 10px 0; vertical-align: top;
      section { background: $tertiary; color: $primary; margin: 3%; padding: 0 3%; border: 1px solid $tertiary; height: 130px; line-height: 120px;
        h3 { font-size: 1.3em; padding-bottom: .2em; }
        span { vertical-align: middle; display: inline-block; line-height: 22px; }

        &:hover { background: $ltGray; }
      }
    }
  }

  .registry { background: $tertiary; color: $secondary;

    div { display: inline-block; }
  }

  .music { background: $primary; color: $tertiary;

  }
}

[class*="bg__"] {
  height: 65vh;

  /* fix background */
  background-attachment: fixed;

  /* center it */
  background-position: center center;

  /* Scale it nicely to the element */
  background-size: cover;

  /* just make it look a bit better ;) */
  &:nth-child(2n) {
    box-shadow: inset 0 0 1em #111;
  }
}

.bg__leola {
  background-image: url(../images/leola.jpg);

  span { display: inline-block; background: $tertiary; padding: 10px 30px 35px 30px; position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -259px;
    margin-top: -125px;
  }

  .directions { color: $drkGray; font-style: italic; }
}

.bg__registry {
   background: $tertiary; color: $primary;  height: 300px;

   p { font-size: 25px; }
   img { height: 60px; margin: 15px 0; }
}

.bg_thankyou {
  background: $primary; color: $tertiary;

  padding: 100px;

  p { width: 65%; margin: 0 auto; }
}