* {
  margin: 0;
  padding: 0;
  list-style: none; }

body {
  font: 1em "EB Garamond", Helvetica, Arial, sans-serif;
  position: relative;
  letter-spacing: .2em; }

a {
  text-decoration: none;
  color: initial; }

h1 {
  font: 4em "Dancing Script", cursive;
  letter-spacing: 0;
  font-weight: normal;
  padding: 0 0 25px; }

h2 {
  letter-spacing: .2em;
  font-weight: normal; }

p {
  letter-spacing: .1em; }

nav {
  background: #fffff2;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 1;
  height: 45px; }
  nav ul {
    padding: 5px;
    font-size: 1.2em; }
    nav ul li {
      display: inline-block;
      padding: 0 50px; }
    nav ul i {
      color: #ffaca4;
      padding-right: 5px; }
    nav ul a {
      color: #ff9796; }

main > section {
  text-align: center;
  overflow: visible;
  clear: both;
  padding: 40px 0;
  box-sizing: border-box;
  position: relative; }
main .intro {
  height: 100vh;
  position: relative;
  background: #ffaca4;
  color: #fffff2;
  background-image: url(../images/bg.png);
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat; }
  main .intro h1 {
    font: 7em "Dancing Script", cursive, sans-sarif;
    padding-top: 15%; }
main .info {
  color: #ff9796; }
main #ourstory {
  background: #ffaca4;
  color: #fffff2;
  height: 70vh; }
  main #ourstory p {
    width: 80%;
    margin: 20px auto; }
main #details {
  background: #ffaca4;
  color: #fffff2; }
  main #details > section {
    display: inline-block;
    width: 31%;
    margin: 10px 0;
    vertical-align: top; }
    main #details > section section {
      background: #fffff2;
      color: #ffaca4;
      margin: 3%;
      padding: 0 3%;
      border: 1px solid #fffff2;
      height: 130px;
      line-height: 120px;
      border-radius: 3px; }
      main #details > section section h3 {
        font-size: 1.3em;
        padding-bottom: .2em; }
      main #details > section section span {
        vertical-align: middle;
        display: inline-block;
        line-height: 22px; }
      main #details > section section:hover {
        background: #aaaaaa; }
main #quote .fa-heart-o {
  font-size: 40px;
  margin-bottom: 20px; }
main .registry {
  background: #fffff2;
  color: #ff9796; }
  main .registry div {
    display: inline-block; }
main .music {
  background: #ffaca4;
  color: #fffff2; }

[class*="bg__"] {
  height: 80vh;
  /* fix background */
  background-attachment: fixed;
  /* center it */
  background-position: center center;
  /* Scale it nicely to the element */
  background-size: cover;
  /* just make it look a bit better ;) */ }
  [class*="bg__"]:nth-child(2n) {
    box-shadow: inset 0 0 1em #111; }

.bg__leola {
  background-image: url(../images/leola.jpg); }
  .bg__leola span {
    display: inline-block;
    background: #fffff2;
    padding: 10px 30px 35px 30px;
    position: absolute;
    position: absolute;
    left: 27%;
    top: 20%;
    width: 40%; }
  .bg__leola .directions {
    color: #aaaaaa;
    font-style: italic;
    margin-top: 20px;
    display: inline-block; }

.bg__registry {
  background: #fffff2;
  color: #ffaca4;
  height: 360px; }
  .bg__registry p {
    font-size: 25px;
    margin-top: 30px; }
  .bg__registry img {
    height: 50px;
    margin: 15px 0; }

.bg_thankyou {
  background: #ffaca4;
  color: #fffff2;
  padding: 100px; }
  .bg_thankyou p {
    width: 65%;
    margin: 0 auto; }
